.img-thumbnail {
    display: block;
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

.jumbotron {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 100px;
    opacity: .7;
    background-image: url("assets/images/Sunset_Clouds.jpg"); 
    background-size: cover;
  }


.bg-success {
    background-image: url("assets/images/vines.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.card-header {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 30px;
}

.card {
    opacity: .8;
}

