.img-thumbnail {
    display: block;
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

.jumbotron {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 100px;
    opacity: .95; 
    background-size: cover;
    background-color: green;
  }


body {
    background-image: url("../../assets/images/vines.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}

.card-header {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 30px;
}

.card {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 30px;
    opacity: .9;
    background-color: rgb(25, 182, 25);
}

#rules {
    font-size: 20px;
}

