.img-thumbnail {
    display: block;
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

/* .comp-num {
    opacity: 1;
    /* background-image: url("assets/images/Sunset_Clouds.jpg"); 
    background-size: cover;
  } */


.bg-success {
    background-image: url("assets/images/vines.jpg");
    background-size: cover;
    background-attachment: fixed;
}